[submodule "public"]
	path = public
	url = https://github.com/wjkim/wjkim.github.io
	branch = source
[submodule "content"]
	path = content
	url = git@github.com:wjkim/wjkim.github.io
	branch = content
[submodule "themes/seotax"]
	path = themes/seotax
	url = https://github.com/minyeamer/hugo-seotax
